@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-clip {
  /* clip-path: polygon(58% 0, 100% 0, 100% 100%, 20% 100%); */
  /* clip-path: polygon(72% 0, 100% 0, 100% 100%, 36% 100%); */
  clip-path: polygon(38% 0, 100% 0, 100% 100%, 0 100%);
}

.nav-link {
  @apply relative;
}

.nav-link:hover::before {
  content: '<';
  position: absolute;
  left: -9px;
  @apply text-red font-mono;
}

.nav-link:hover::after {
  content: '/>';
  position: absolute;
  @apply text-red font-mono;
}

.small-tags::before {
  content: '<small>';
  @apply text-red;
}

.small-tags::after {
  content: '</small>';
  @apply text-red;
}

.footer-heading {
  @apply font-bold;
}

.section-header::before {
  content: '<h2>';
  @apply text-red;
}

.section-header::after {
  content: '</h2>';
  @apply text-red;
}
